<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--REMEMBER: DO NOT USE FULL DIRECTORY TO LINK SHEETS AND JS-->
	<link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/scrollreveal" defer ></script>
    <script src="js/script.js" defer ></script>
    
    <title>DevSteff Portfolio</title>
</head>
<body>
   	<!---header--->
	<header>
		<a href="#" class="logo"><img src="https://assets.codepen.io/6836864/man.png"></a>
		<div class="bx bx-menu" id="menu-icon"></div>

		<ul class="navbar">
			<li><a href="#home">Home</a></li>
			<li><a href="#about">About Me</a></li>
			<li><a href="#services">Services</a></li>
			<li><a href="#portfolio">My Portfolio</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</header>

	<!---home--->
	<section class="home" id="home">
		<div class="home-text">
			<h4>Hello, I hope all is well</h4>
			<h1>I'm Stephan <br> Br<span>ookens</span></h1>
			<h3>Front-End <span>Developer</span> <br> Shopify <span>Partner</span></h3>
			<a href="https://www.upwork.com/freelancers/~013c0b305f51156e83" class="btn">Hire Me</a>
		</div>
	</section>

	<!---about--->
	<section class="about" id="about">
		<div class="about-img">
			<!--<img src="https://assets.codepen.io/6836864/about.png">-->
      <img src="https://assets.codepen.io/6836864/DevSteff_pic_Edited_Edited_Artish_swag-removebg-preview_Edited+with+some+shadow.png" alt="" class="">
		</div>

		<div class="about-text">
			<h2>About Me</h2>
			<h4>Hi, Im Here To Help Your Next Project</h4>
			<p>Landing pages are key when pushing a product or a program. Let me assist with the layout, design and documentation needed to accelerate your idea to the next level with a clean, smooth and rich look. </p>
			<div class="about-gri">
				<div class="about-in">
					<h5>1. Problem Solving</h5>
				</div>

				<div class="about-in">
					<h5>2. Creative Ideas</h5>
				</div>

				<div class="about-in">
					<h5>3. Captain Search a lot</h5>
				</div>

				<div class="about-in">
					<h5>4. High Quality</h5>
				</div>

			</div>
			<a href="#" class="btn">Contact Me</a>
		</div>
	</section>

	<!---services--->
	<section class="services" id="services">
		<div class="main-text">
			<h2>My Services</h2>
			<h4>Better Design, Better Expericences</h4>
		</div>

		<div class="services-content">
			<div class="box">
				<img src="https://cdn-icons-png.flaticon.com/128/4025/4025045.png">
				<h3>Website Management</h3>
				<p>If you are looking for someone to manage your website (i.e., update, add/remove content, modify existing content or media), I'm, your guy.</p>
			</div>

			<div class="box">
				<img src="https://cdn-icons-png.flaticon.com/128/3368/3368896.png">
				<h3>Website Design</h3>
				<p>If you are new, and want an eye catching landing page that is clean and silky smooth, I'm here. I can better assist with getting all your content into an easy to read page that is user friendly and does not have links that bury you in different pages.</p>
			</div>

			<div class="box">
				<img src="https://cdn-icons-png.flaticon.com/128/2634/2634393.png">
				<h3>Video Editing</h3>
				<p>Lorem Ipsum Is Simply Dummy Text Of The Printing Andtypesetting Industry. Lorem Ipsum Has Been The Website Industry's Standard Dummy .</p>
			</div>

		</div>
	</section>

  
	<!---portfolio--->
	<section class="portfolio" id="portfolio">
		<div class="main-text">
			<h2 class="mt-4" >My Portfolio</h2>
			<h4>Some Of My Distinguished Works Using:</h4>
        <!-- Languages bar with animations on hover and click to go to site-->
  <div class="justify-center flex flex-wrap w-full h-auto mx-auto space-x-6 py-12 px-2" id="languages" >
    
    <!-- My Languages-->
    
    <a href="https://tailwindcss.com/" class="">
    <img src="https://assets.codepen.io/6836864/tailwindcss-icon-svgrepo-com+%281%29.svg" alt="" class="w-16 h-12 my-8 cursor-pointer hover:animate-pulse ease-in duration-300">
    </a>
    
    <a href="https://www.codecademy.com/pages/learn-html-and-css-with-codecademy-pro?g_network=g&g_device=c&g_adid=518718840372&g_keyword=learn%20html&g_acctid=243-039-7011&g_adtype=search&g_adgroupid=102526215098&g_keywordid=aud-1122464209802:kwd-17983641&g_campaign=US+Language%3A+Basic+-+Exact&g_campaignid=10030170703&utm_term=learn%20html&utm_campaign=&utm_content=518718840372&utm_id=t_aud-1122464209802:kwd-17983641:ag_102526215098:cp_10030170703:n_g:d_c&utm_source=google&utm_medium=paid-search&utm_term=learn%20html&utm_campaign=&utm_content=518718840372&gclid=CjwKCAjwpKyYBhB7EiwAU2Hn2XruU7FKSFz-uC0ijyc8ZyBc0sQkE3jl1iV4LB8v0QAkG_2Nz7RjwRoCvV4QAvD_BwE" class="">
    <img src="https://assets.codepen.io/6836864/html-5-svgrepo-com.svg" alt="" class="w-16 h-12 my-8 cursor-pointer hover:animate-pulse ease-in duration-300">
    </a>
    
    <a href="https://web.dev/learn/css/" class="">
    <img src="https://assets.codepen.io/6836864/css-3-logo-svgrepo-com.svg" alt="" class="w-16 h-12 my-8 cursor-pointer hover:animate-pulse ease-in duration-300">
    </a>
    
    <a href="https://www.jsmastery.pro/" class="">
    <img src="https://assets.codepen.io/6836864/js-svgrepo-com.svg" alt="" class="w-16 h-12 my-8 cursor-pointer hover:animate-pulse ease-in duration-300">
    </a>    
    
    <a href="https://alpinejs.dev/" class="">
    <img src="https://assets.codepen.io/6836864/alpinejs+%281%29.svg" alt="" class="w-16 h-12 my-8 cursor-pointer hover:animate-pulse ease-in duration-300">
    </a>    
    
    <a href="https://www.shopify.com/partners" class="">
    <img src="https://assets.codepen.io/6836864/shopify-svgrepo-com.svg" alt="" class="w-16 h-12 my-8 cursor-pointer hover:animate-pulse ease-in duration-300">
    </a>

  </div>
  <!-- End -->
		</div>

		<div class="portfolio-content">
			<div class="row">
                <!--Modal 1-->
                <div class="bg-black bg-opacity-50 absolute inset-0 hidden justify-center items-center z-50" id="overlay" > <!-- Inset-0 stretches the entire box to the whole screen. opacity gives it a feeling of a next step animation. -->
                    <div class="bg-gray-200 max-w-xs py-2 px-3 rounded shadow-xl text-gray-800"><!-- max-w-sm ensures that the modal content does no fill the entire screen. can be changed to lg or 2xl depending if you add more content -->
                      <div class="flex justify-between items-center"> <!-- Flex Moves the X icon next to the header text & items-center moves the X on the same horizontal axis as the Text -->
                        <h4 class="text-lg font-bold p-4">The Qari School</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer p-1 rounded full hover:bg-gray-300" id="close-modal" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
                      </div>      
                      <div class="mt-2 text-sm">
                        <img src="\layouts\images\Qari Preview 2.gif" alt="" class="w-6 h-6 rounded p-4">
                        <p class="p-4">Utilizes a clean interface with smooth scrolling and various hover effects!</p>
                      </div>
                      <div class="mt-3 flex justify-end space-x-5 py-2">
                        <button class="px-3 py-1 rounded hover:bg-red-300 hover-bg-opacity-50 hover:text-red-900" id="exit-modal">Exit</button>
                       <a href="https://codepen.io/KodeKreatorz/live/GRxwXEP/90e16778ea0ca7008e22baed63790db7" class=""> <button class="px-3 py-2 bg-blue-600 text-white rounded hover:bg-white hover:text-blue-600">See Full Site</button> </a>
                      </div>
                    </div>
                    
                  </div>
                  <!-- End -->
				<img src="https://assets.codepen.io/6836864/The+Qari+home+page+Snip+final+final.png" id="project-1">
				<div class="main-row">
					<div class="row-text">
            <a href="https://codepen.io/KodeKreatorz/live/GRxwXEP/90e16778ea0ca7008e22baed63790db7" class="">
						<h6>The Qari School</h6>
              </a>
					</div>
					<div class="row-icon">
						<i class='bx bx-heart hover:animate-pulse'></i>
					</div>
				</div>
				<h3>Web & Mobile app landing design for an Islamic Elementary School.</h3>
			</div>

            
			<div class="row">
                <!--Modal 2-->
            <div class="bg-black bg-opacity-50 absolute inset-0 hidden justify-center items-center" id="overlay2" > <!-- Inset-0 stretches the entire box to the whole screen. opacity gives it a feeling of a next step animation. -->
                <div class="bg-gray-200 max-w-sm py-2 px-3 rounded shadow-xl text-gray-800"><!-- max-w-sm ensures that the modal content does no fill the entire screen. can be changed to lg or 2xl depending if you add more content -->
                  <div class="flex justify-between items-center"> <!-- Flex Moves the X icon next to the header text & items-center moves the X on the same horizontal axis as the Text -->
                    <h4 class="text-lg font-bold p-4">Mafia City Rogues</h4>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer p-1 rounded full hover:bg-gray-300" id="close-modal2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
                  </div>      
                  <div class="mt-2 text-sm">
                    <img src="/layouts/images/MCR Preview.gif" alt="" class="w-6 h-6 rounded p-4">
                    <p class="p-4">A Mobile Gaming Community Platform For Players With A Particular Playing Styles. Showcases Photo Transitions.</p>
                  </div>
                  <div class="mt-3 flex justify-end space-x-5 py-2">
                    <button class="px-3 py-1 rounded hover:bg-red-300 hover-bg-opacity-50 hover:text-red-900" id="exit-modal2">Exit</button>
                   <a href="http://google.com" class=""> <button class="px-3 py-2 bg-blue-600 text-white rounded hover:bg-white hover:text-blue-600">See Full Site</button> </a>
                  </div>
                </div>
                
              </div>
              <!-- End -->
				<img src="https://assets.codepen.io/6836864/MCR+Sketch+portfolio+image.jpg" id="project-2">
				<div class="main-row">
					<div class="row-text">
                        <a href="https://codepen.io/KodeKreatorz/live/eYVyaXd" class="">
						<h6>Mafia City Rogues</h6>
                        </a>
					</div>
					<div class="row-icon">
						<i class='bx bx- hover:animate-pulse '></i>
					</div>
				</div>
				<h3>Mobile Gaming Community Web App for Rogue Players</h3>
			</div>

			<div class="row">
                <!--Modal 3-->
                <div class="bg-black bg-opacity-50 absolute inset-0 hidden justify-center items-center" id="overlay3" > <!-- Inset-0 stretches the entire box to the whole screen. opacity gives it a feeling of a next step animation. -->
                    <div class="bg-gray-200 max-w-sm py-2 px-3 rounded shadow-xl text-gray-800"><!-- max-w-sm ensures that the modal content does no fill the entire screen. can be changed to lg or 2xl depending if you add more content -->
                      <div class="flex justify-between items-center"> <!-- Flex Moves the X icon next to the header text & items-center moves the X on the same horizontal axis as the Text -->
                        <h4 class="text-lg font-bold p-4">Sturdy Fashions Clothing Store</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer p-1 rounded full hover:bg-gray-300" id="close-modal3" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
                      </div>      
                      <div class="mt-2 text-sm">
                        <img src="/layouts/images/Sturdy Fashions Preview.gif" alt="" class="w-6 h-6 rounded p-4">
                        <p class="p-4">A Shopify Clothing Store Fully Decked With Shipping Rates, Inventory, Stock, Photos, Variants, Mega Menus and MORE!</p>
                      </div>
                      <div class="mt-3 flex justify-end space-x-5 py-2">
                        <button class="px-3 py-1 rounded hover:bg-red-300 hover-bg-opacity-50 hover:text-red-900" id="exit-modal3">Exit</button>
                       <a href="http://google.com" class=""> <button class="px-3 py-2 bg-blue-600 text-white rounded hover:bg-white hover:text-blue-600">See Full Site</button> </a>
                      </div>
                    </div>
                    
                  </div>
                  <!-- End -->
				<img src="https://assets.codepen.io/6836864/Sturdy+Fashio+Sketch+Portfolio+pic.png" id="project-3">
				<div class="main-row">
					<div class="row-text">
						<a href="https://sturdyfashions.myshopify.com/" class="">
                        <h6>Sturdy Fashions</h6>
                        </a>
					</div>
					<div class="row-icon">
						<i class='bx bx-heart hover:animate-pulse '></i>
					</div>
				</div>
				<h3>A Shopify Clothing Store (Password is bahfra)</h3>
			</div>

			<div class="row">
                <!-- Modal 4-->
                <div class="bg-black bg-opacity-50 absolute inset-0 hidden justify-center items-center" id="overlay4" > <!-- Inset-0 stretches the entire box to the whole screen. opacity gives it a feeling of a next step animation. -->
                    <div class="bg-gray-200 max-w-sm py-2 px-3 rounded shadow-xl text-gray-800"><!-- max-w-sm ensures that the modal content does no fill the entire screen. can be changed to lg or 2xl depending if you add more content -->
                      <div class="flex justify-between items-center"> <!-- Flex Moves the X icon next to the header text & items-center moves the X on the same horizontal axis as the Text -->
                        <h4 class="text-lg font-bold p-4">Futuristic Maids Cleaning Services</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer p-1 rounded full hover:bg-gray-300" id="close-modal4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
                      </div>      
                      <div class="mt-2 text-sm">
                        <img src="/layouts/images/Futuristic Maids Preview.gif" alt="" class="w-6 h-6 rounded p-4">
                        <p class="p-4">A Futuristic Cleaning Service Made Fast and Affordable. Showcases Fade Transitions From All Angles Giving a Clean Modern Look.</p>
                      </div>
                      <div class="mt-3 flex justify-end space-x-5 py-2">
                        <button class="px-3 py-1 rounded hover:bg-red-300 hover-bg-opacity-50 hover:text-red-900" id="exit-modal4">Exit</button>
                       <a href="http://google.com" class=""> <button class="px-3 py-2 bg-blue-600 text-white rounded hover:bg-white hover:text-blue-600">See Full Site</button> </a>
                      </div>
                    </div>
                    
                  </div>
                  <!-- End -->
				<img src="https://assets.codepen.io/6836864/futuristic+maid+sketch+portfolio+pic.png" id="project-4">
				<div class="main-row">
					<div class="row-text">
                        <a href="https://codepen.io/KodeKreatorz/live/bGvyLKZ/e8bcbf5888191983eeac4f64540842db" class="">
						<h6>Futuristic Maids</h6>
                        </a>
					</div>
					<div class="row-icon">
						<i class='bx bx-heart hover:animate-pulse '></i>
					</div>
				</div>
				<h3>Mobile/Web App Landing Design For Cleaning Services</h3>
			</div>

			<div class="row">
				<img src="https://assets.codepen.io/6836864/coming+soon.jpg" id="project">
				<div class="main-row">
					<div class="row-text">
						<h6>Coming Soon</h6>
					</div>
					<div class="row-icon">
						<i class='bx bx-heart hover:animate-pulse '></i> 
					</div>
				</div>
				<h3>Mobile app landing design & Services</h3>
			</div>

			<div class="row">
				<img src="https://assets.codepen.io/6836864/coming+soon.jpg" id="project" >
				<div class="main-row">
					<div class="row-text">
						<h6>Coming Soon</h6>
					</div>
					<div class="row-icon">
						<i class='bx bx-heart hover:animate-pulse '></i>
					</div>
				</div>
				<h3>Mobile app landing design & Services</h3>
			</div>

		</div>
	</section>

	<!---contact--->
	<section class="contact" id="contact">
		<div class="contact-text">
			<h2>Contact Me</h2>
			<h4>Let's Work Together</h4>
			<p>I would be happy to assist you. For more info hit the form</p>
			<div class="contact-list">
				<li><a href="#">Philadelphia - Pennsylvania - US</a></li>
				<li><a href="#">support@Clutchdistributors.com</a></li>
				<li><a href="#">01646895741</a></li>
			</div>
			<div class="contact-icons">
				<a href="https://codepen.io/KodeKreatorz/live/eYVLppQ"><i class='bx bxl-linkedin' ></i></a>
				<a href="https://codepen.io/KodeKreatorz/live/eYVLppQ"><i class='bx bxl-facebook' ></i></a>
				<a href="https://codepen.io/KodeKreatorz/live/eYVLppQ"><i class='bx bxl-behance' ></i></a>
				<a href="https://codepen.io/KodeKreatorz/live/eYVLppQ"><i class='bx bxl-instagram' ></i></a>
				<a href="https://codepen.io/KodeKreatorz/live/eYVLppQ"><i class='bx bxl-dribbble' ></i></a>
			</div>
		</div>

		<div class="contact-form">
			<form action="https://getform.io/f/98491dbe-6e9b-4f26-b53f-3266b790a1e7" method="POST">
				<input type="text" name="name" placeholder="Enter Your Name" required>
				<input type="text" name="email" placeholder="Enter Your Email" required>
				<textarea type="text" name="message" id="" cols="40" rows="10" placeholder="Enter Your Message" required></textarea>
				<input type="submit" value="Submit" class="send">
			</form>
		</div>
	</section>

	<div class="last-text">
		<p>Clutch © 2022</p>
	</div>

	<!---scroll-top--->
	<a href="#" class="top"><i class='bx bx-up-arrow-alt' ></i></a>

</body>
</html>