<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/layouts/css/layout.css">
    <link rel="stylesheet" href="/layouts/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/scrollreveal" defer ></script>
    <script src="/layouts/js/script.js" defer ></script>
    
    <title>DevSteff Portfolio</title>
</head>
<body>
   	<!---header--->
	<header>
		<a href="#" class="logo"><img src="https://assets.codepen.io/6836864/man.png"></a>
		<div class="bx bx-menu" id="menu-icon"></div>

		<ul class="navbar">
			<li><a href="#home">Home</a></li>
			<li><a href="#about">About Me</a></li>
			<li><a href="#services">Services</a></li>
			<li><a href="#portfolio">My Portfolio</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</header>

	<!---home--->
	<section class="home" id="home">
		<div class="home-text">
			<h4>Hello, I hope all is well</h4>
			<h1>I'm Stephan <br> Br<span>ookens</span></h1>
			<h3>Front-End Developer</h3>
			<a href="#" class="btn">Hire Me</a>
		</div>
	</section>

	<!---about--->
	<section class="about" id="about">
		<div class="about-img">
			<!--<img src="https://assets.codepen.io/6836864/about.png">-->
      <img src="https://assets.codepen.io/6836864/DevSteff_pic_Edited_Edited_Artish_swag-removebg-preview_Edited+with+some+shadow.png" alt="" class="">
		</div>

		<div class="about-text">
			<h2>About Me</h2>
			<h4>Hi, Im Here To Help Your Next Project</h4>
			<p>Landing pages are key when pushing a product or a program. Let me assist with the layout, design and documentation needed to accelerate your idea to the next level with a clean, smooth and rich look. </p>
			<div class="about-gri">
				<div class="about-in">
					<h5>1. Problem Solving</h5>
				</div>

				<div class="about-in">
					<h5>2. Creative Ideas</h5>
				</div>

				<div class="about-in">
					<h5>3. Captain Search a lot</h5>
				</div>

				<div class="about-in">
					<h5>4. High Quality</h5>
				</div>

			</div>
			<a href="#" class="btn">Contact Me</a>
		</div>
	</section>

	<!---services--->
	<section class="services" id="services">
		<div class="main-text">
			<h2>My Services</h2>
			<h4>Better Design, Better Expericences</h4>
		</div>

		<div class="services-content">
			<div class="box">
				<img src="https://cdn-icons-png.flaticon.com/128/4025/4025045.png">
				<h3>Website Management</h3>
				<p>If you are looking for someone to manage your website (i.e., update, add/remove content, modify existing content or media), I'm, your guy.</p>
			</div>

			<div class="box">
				<img src="https://cdn-icons-png.flaticon.com/128/3368/3368896.png">
				<h3>Website Design</h3>
				<p>If you are new, and want an eye catching landing page that is clean and silky smooth, I'm here. I can better assist with getting all your content into an easy to read page that is user friendly and does not have links that bury you in different pages.</p>
			</div>

			<div class="box">
				<img src="https://cdn-icons-png.flaticon.com/128/2634/2634393.png">
				<h3>Video Editing</h3>
				<p>Lorem Ipsum Is Simply Dummy Text Of The Printing Andtypesetting Industry. Lorem Ipsum Has Been The Website Industry's Standard Dummy .</p>
			</div>

		</div>
	</section>

  
	<!---portfolio--->
	<section class="portfolio" id="portfolio">
		<div class="main-text">
			<h2 class="mt-4" >My Portfolio</h2>
			<h4>Some Of My Distinguished Works Using:</h4>
        <!-- Languages bar -->
  <div class="justify-center flex flex-wrap w-full h-auto mx-auto space-x-6 py-12 px-2" id="languages" >
    
    <img src="https://assets.codepen.io/6836864/tailwindcss-icon-svgrepo-com+%281%29.svg" alt="" class="w-16 h-12 my-8">
    <img src="https://assets.codepen.io/6836864/html-5-svgrepo-com.svg" alt="" class="w-16 h-12 my-8">
    <img src="https://assets.codepen.io/6836864/css-3-logo-svgrepo-com.svg" alt="" class="w-16 h-12 my-8">
    <img src="https://assets.codepen.io/6836864/js-svgrepo-com.svg" alt="" class="w-16 h-12 my-8">
    <img src="https://assets.codepen.io/6836864/alpinejs+%281%29.svg" alt="" class="w-16 h-12 my-8">
    <img src="https://assets.codepen.io/6836864/shopify-svgrepo-com.svg" alt="" class="w-16 h-12 my-8">
    
  </div>
  <!-- End -->
		</div>

		<div class="portfolio-content">
			<div class="row">
				<img src="https://assets.codepen.io/6836864/The+Qari+home+page+Snip+final+final.png" id="project">
				<div class="main-row">
					<div class="row-text">
            <a href="https://codepen.io/KodeKreatorz/live/GRxwXEP/90e16778ea0ca7008e22baed63790db7" class="">
						<h6>The Qari School</h6>
              </a>
					</div>
					<div class="row-icon">
						<i class='bx bx-heart'></i>
					</div>
				</div>
				<h3>Web & Mobile app landing design for an Islamic Elementary School.</h3>
			</div>

			<div class="row">
				<img src="https://assets.codepen.io/6836864/MCR+Sketch+portfolio+image.jpg" id="project">
				<div class="main-row">
					<div class="row-text">
                        <a href="https://codepen.io/KodeKreatorz/live/eYVyaXd" class="">
						<h6>Mafia City Rogues</h6>
                        </a>
					</div>
					<div class="row-icon">
						<i class='bx bx-heart'></i>
					</div>
				</div>
				<h3>Mobile Gaming Community Web App for Rogue Players</h3>
			</div>

			<div class="row">
				<img src="https://assets.codepen.io/6836864/Sturdy+Fashio+Sketch+Portfolio+pic.png" id="project">
				<div class="main-row">
					<div class="row-text">
						<a href="https://sturdyfashions.myshopify.com/" class="">
                        <h6>Sturdy Fashions</h6>
                        </a>
					</div>
					<div class="row-icon">
						<i class='bx bx-heart'></i>
					</div>
				</div>
				<h3>A Shopify Clothing Store (Password is bahfra)</h3>
			</div>

			<div class="row">
				<img src="https://assets.codepen.io/6836864/futuristic+maid+sketch+portfolio+pic.png" id="project">
				<div class="main-row">
					<div class="row-text">
                        <a href="https://codepen.io/KodeKreatorz/live/bGvyLKZ/e8bcbf5888191983eeac4f64540842db" class="">
						<h6>Futuristic Maids</h6>
                        </a>
					</div>
					<div class="row-icon">
						<i class='bx bx-heart'></i>
					</div>
				</div>
				<h3>Mobile/Web App Landing Design For Cleaning Services</h3>
			</div>

			<div class="row">
				<img src="https://assets.codepen.io/6836864/coming+soon.jpg" id="project">
				<div class="main-row">
					<div class="row-text">
						<h6>Coming Soon</h6>
					</div>
					<div class="row-icon">
						<i class='bx bx-heart'></i>
					</div>
				</div>
				<h3>Mobile app landing design & Services</h3>
			</div>

			<div class="row">
				<img src="https://assets.codepen.io/6836864/coming+soon.jpg" id="project" >
				<div class="main-row">
					<div class="row-text">
						<h6>Coming Soon</h6>
					</div>
					<div class="row-icon">
						<i class='bx bx-heart'></i>
					</div>
				</div>
				<h3>Mobile app landing design & Services</h3>
			</div>

		</div>
	</section>

	<!---contact--->
	<section class="contact" id="contact">
		<div class="contact-text">
			<h2>Contact Me</h2>
			<h4>Let's Work Together</h4>
			<p>I would be happy to assist you. For more info hit the form</p>
			<div class="contact-list">
				<li><a href="#">Philadelphia - Pennsylvania - US</a></li>
				<li><a href="#">support@Clutchdistributors.com</a></li>
				<li><a href="#">01646895741</a></li>
			</div>
			<div class="contact-icons">
				<a href="#"><i class='bx bxl-linkedin' ></i></a>
				<a href="#"><i class='bx bxl-facebook' ></i></a>
				<a href="#"><i class='bx bxl-behance' ></i></a>
				<a href="#"><i class='bx bxl-instagram' ></i></a>
				<a href="#"><i class='bx bxl-dribbble' ></i></a>
			</div>
		</div>

		<div class="contact-form">
			<form action="https://getform.io/f/98491dbe-6e9b-4f26-b53f-3266b790a1e7" method="POST">
				<input type="text" name="name" placeholder="Enter Your Name" required>
				<input type="text" name="email" placeholder="Enter Your Email" required>
				<textarea type="text" name="message" id="" cols="40" rows="10" placeholder="Enter Your Message" required></textarea>
				<input type="submit" value="Submit" class="send">
			</form>
		</div>
	</section>

	<div class="last-text">
		<p>Clutch © 2022</p>
	</div>

	<!---scroll-top--->
	<a href="#" class="top"><i class='bx bx-up-arrow-alt' ></i></a>

</body>
</html>